.main {
  width: auto;
  margin: 0 auto;
  max-width: 1000px;
  padding: 3.5rem 1rem;
  letter-spacing: 0.004em;
  color: #303133;
}

.meta {
  text-align: center;
  color: #6e777e;
  font-size: 0.95rem;
}

.title {
  text-align: center;
  line-height: 1.1;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.thumbnail {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  border-radius: 4px;
}

.post {
  p {
    font-size: 1.15rem;
    line-height: 1.6;
  }

  hr {
    border: 2px solid #edf0f2;
    width: 20%;
    text-align: center;
    display: block;
    margin: 2.4rem auto;
  }
}

.paginator {
  display: flex;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.paginator__prev,
.paginator__next {
  transition: background-color 0.3s ease-in-out;
  padding: 0.5rem 2rem;
  width: 50%;

  &:hover {
    background-color: rgba(7, 123, 209, 0.03);
    color: #077bd1;
  }
}

.paginator__prev {
  float: left;
  text-align: left;
}

.paginator__next {
  float: right;
  text-align: right;
}

@media (min-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .paginator__prev,
  .paginator__next {
    transition: background-color 0.3s ease-in-out;
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 1000px) {
  .title {
    font-size: 2.3rem;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.6rem;
  }
}
