.header {
  margin-top: 1rem;
  display: flex;
}

.one_third {
  flex: 1; // All items are the same size 1/3
  // and in center
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #1f2321;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.about {
  // https://stackoverflow.com/questions/32551291/in-css-flexbox-why-are-there-no-justify-items-and-justify-self-properties
  margin-left: auto; // to right
  
  margin-right: 1rem;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #4183f2;
  color: #fff;
  padding: 0 1.125rem;
  line-height: 2.125rem;
  border-radius: 7px;
  transition: all 0.25s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}
